html {
    height: 100%;
}

body {
    height: 100%;
    background: #D0E0E3;
}

.row {
    margin: 0;
}

.default-content {
    position: relative;
    height: calc(100vh - 88px);
    background-size: cover;
    overflow-y: hidden;
    display: inline-block;
    padding: 0;
}

.default-content:first-of-type {
    background-image: url('images/def-bg.jpg');
}

.default-inner-content {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.default-inner-content h1 {
    text-transform: none;
    color: white;
}

.default-inner-inner-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    font-size: 2em;
    line-height: 2em;
    margin: 0 auto;
}

.default-right-content {
    width: 100%;
    font-size: 2.5em;
    text-align: center;
    color: white;
    font-weight: bold;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

.inner-smaller-text {
    font-size: 0.6em;
}

.inner-smaller-text a {
    color: #6D9ED6;
 }

.green-text {
    color: #93C47D;
}

h1 {
    font-size: 2.5em;
    margin: 0 auto 1em auto;
}

.min-height {
    min-height: calc(100% - 89px);
}